menu "Zenoh Example Configuration"
    config ZENOH_TASK_STACK
        int "Zenoh task stack"
        default 3072
        help
            Stack size in bytes of the zenoh task
        
    config ZENOH_TASK_PRIO
        int "Priority of the zenoh task"
        default 5
        help
            Priority of zenoh task higher value means higher priority

endmenu
