menu "Proton Bench Configuration"

    # SSID / password / max retry are provided by the micro-ROS component under
    # "micro-ROS Settings > WiFi Configuration" when MICRO_ROS_ESP_NETIF_WLAN=y.

    choice ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "Minimum Auth Mode"
        default ESP_WIFI_AUTH_WPA2_PSK
        help
            Minimum authentication mode accepted by the STA.

        config ESP_WIFI_AUTH_OPEN
            bool "OPEN"
        config ESP_WIFI_AUTH_WEP
            bool "WEP"
        config ESP_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config ESP_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config ESP_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config ESP_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config ESP_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
    endchoice

endmenu
