menu "Proton Bench Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID of the access point to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            PSK for the access point.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Number of reconnect attempts before giving up.

    choice ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "Minimum Auth Mode"
        default ESP_WIFI_AUTH_WPA2_PSK
        help
            Minimum authentication mode accepted by the STA.

        config ESP_WIFI_AUTH_OPEN
            bool "OPEN"
        config ESP_WIFI_AUTH_WEP
            bool "WEP"
        config ESP_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config ESP_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config ESP_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config ESP_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config ESP_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
    endchoice

endmenu
