CONFIG_IDF_TARGET="esp32c6"

CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_ESP_WIFI_ENABLE_WPA3_SAE=y

CONFIG_PROTON_TASK_STACK=3072
CONFIG_PROTON_TASK_PRIO=5
